body{
    background-image: url('wooden.jpg');    
}


h1{
    font-size: 70px;
    color: #DBEDF3;
    text-shadow: 2px 2px red;
}

h2{
    font-size: 30px;
    color: blue;
    text-shadow:2px 2px rgb(107, 229, 209);
}
p{
    font-size: 25px;
    
}


.top{

    text-align: center;
}

.middle{
   
    height: 400px;
    margin: 0% 3%;
}

.bottom{

    text-align: center;
}

.bg{
    font-size: 0;
    padding-top: 5%;
    text-align: center;
}

.controls{

    background-color: #DBEDF3;
    margin: 2% 20%;
    opacity: 70%;
}



button{
    text-align: center;
    border-color: black;
    
}

.a ,.b ,.c ,.d ,.e, .f ,.g{
    
    height: 250px;
    width: 80px;
    padding-left: 0;
    padding-right: 0;
    border: 0.5;
    font-size: medium;
   
}

.k, .l, .i ,.o ,.j{

    border-color: grey;
    position: absolute;
    height: 100px;  
    width: 40px;
    background-color: rgba(84, 80, 80, 0.966);
    color: aliceblue; 
    
    
}

.pressed{
    box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

